@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="jumbotron">
        <MudText Typo="Typo.h4">@typeof(Index).Assembly.ReadProduct()</MudText>
        <MudText Style=@($"color: {@DefaultTheme.Instance().Palette.GrayDefault}") Class="px-5" Typo="Typo.body1">Version [ @typeof(Index).Assembly.ReadInformationalVersion() ]</MudText>
    </div>

    <MudText Class="py-8" Typo="Typo.h5">Because you've got better things to do than babysit emails, right?</MudText>

    <MudText Class="pt-3" Typo="Typo.h6">A quick overview of CG.Purple</MudText>
    <ul style="list-style-type:square;">
        <li style="margin: 10px">Open-source, 100% free to use (<a style=@($"color: {DefaultTheme.Instance().Palette.Info}") href="https://opensource.org/licenses/MIT">MIT</a> license *), fast and reliable.</li>
        <li style="margin: 10px">Written 100% in <strong>C#</strong>, <strong>.NET 7.x</strong>, and <strong>Blazor</strong>.</li>
        <li style="margin: 10px">Leverages the <a style=@($"color: {DefaultTheme.Instance().Palette.Info}") href="https://mudblazor.com">MudBlazor</a> library for a clean, reliable UI.</li>
        <li style="margin: 10px">REST interface for integrating with your software.</li>
        <li style="margin: 10px">All sensitive data is encrypted, at rest.</li>
        <li style="margin: 10px">Easily integrates with 3rd party message providers.</li>
        <li style="margin: 10px">Easily integrates with 3rd party OIDC and JWT services.</li>
    </ul>
    <br />
    <MudText Style=@($"color: {@DefaultTheme.Instance().Palette.GrayDefault}") Class="px-4" Typo="Typo.caption">* (additional open source licenses may apply)</MudText>
</div>


